<div class = "home-back">
  <div class = "content">
    <h1>Home Page</h1>
    <p>Hi. Welcome to LandIt, the app designed to help you organize your job search. Here at LandIt, we understand how stressful looking for a new job or position can be, so we creaed the site to make it easier for you to organize you various interviews and the contacts associated with them. We also perform tasks for you like sending emails and messages to perspective employers to guarantee that you make the best impression possible. To start sign up for an account with us, then start adding interviews. Good luck on your job search and hope we could help.
    </br>

    <button class="devise-stuff"><a href="/users/sign_up"><h1>Sign Up</h1></a></button>
  </div>
</div>
